.loading-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 390px;
  color-scheme: auto;
  background: #191919;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.loader {
  border: 2px solid #191919;
  border-top: 2px solid #727272;
  border-right: 2px solid #727272;
  border-bottom: 2px solid #727272;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.move-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 80px;
  height: 80px;
  cursor: move;
}
