html {
  zoom: 1 !important;
}

.normal-button:hover {
  cursor: pointer;
}

.buidler-loading-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 390px;
  color-scheme: auto;
  background: #191919;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.buidler-loader {
  border: 2px solid #191919;
  border-top: 2px solid #727272;
  border-right: 2px solid #727272;
  border-bottom: 2px solid #727272;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.buidler-move-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 80px;
  height: 80px;
  cursor: move;
}

.buidler-plugin-container {
  max-height: 1080px;
  width: 430px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9000000000000000000;
  color-scheme: auto;
}

.buidler-iframe-container {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0 !important;
}

.buidler-theme {
  font-family: 'TwitterChirp', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
}

body.light .buidler-theme {
  --color-accent: #7c65c1;
  --color-stroke: #f3f3f3;
  --color-placeholder: #536471;
  --color-background-1: #ffffff;
  --color-background-2: #f8f8f8;
  --color-primary-text: #202020;
}

body.dark .buidler-theme {
  --color-accent: #7c65c1;
  --color-stroke: #242424;
  --color-placeholder: #71767b;
  --color-background-1: #000000;
  --color-background-2: #121212;
  --color-primary-text: #e8e8e8;
}

body.dim .buidler-theme {
  --color-accent: #7c65c1;
  --color-stroke: rgb(66, 83, 100);
  --color-placeholder: #71767b;
  --color-background-1: rgb(21, 32, 43);
  --color-background-2: rgb(39, 51, 64);
  --color-primary-text: #e8e8e8;
}

.buidler-tweet-cast-container {
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid var(--color-stroke);
  display: flex;
  padding: 0 5px;
  position: relative;
}

.buidler-tweet-cast-container .input {
  flex: 1;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-primary-text);
  padding: 13px 10px;
  line-height: 20px;
  outline: none;
  cursor: text;
  word-break: break-word;
}

.placeholder {
  color: var(--color-placeholder);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 13px;
  left: 15px;
  pointer-events: none;
}

.buidler-tweet-cast-container .btn-cast {
  height: 36px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  align-self: flex-end;
  margin-bottom: 5px;
}

.buidler-tweet-cast-container .btn-cast :hover {
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.buidler-tw-quick-cast-container {
  display: flex;
  align-items: center;
}

.buidler-tw-quick-cast-container input[type='checkbox'].checkbox {
  accent-color: var(--color-accent);
}

.buidler-tw-quick-cast-container .quick-cast-label {
  color: var(--color-placeholder);
  margin-left: 9px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.b-fc-open-plugin-container {
  display: flex;
  align-items: center;
  height: 45px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 10px;
  z-index: 999998;
  background-color: var(--color-background-2);
  border-left: 1px solid var(--color-stroke);
  border-bottom: 1px solid var(--color-stroke);
  border-bottom-left-radius: 10px;
}

.b-fc-label {
  color: var(--color-primary-text);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0 10px;
}

.b-fc-plugin-container {
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -500px;
  width: 500px;
  transition: right 0.5s ease-out 0s;
  border-left: 1px solid var(--color-stroke);
  background-color: var(--color-background-1);
}

.b-fc-plugin-open {
  right: 0;
}

#buidler-tweet-cast {
  container-type: inline-size;
}

@container (max-width: 360px) {
  .buidler-tweet-cast-container {
    display: none;
  }
}

.b-fc-alert-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-background-1);
  padding: 15px;
  width: 370px;
  margin-top: 10px;
  box-shadow: 0px 5px 12px 5px #acacac26;
}

.b-fc-alert-item .alert-title {
  font-weight: 500;
  color: var(--color-primary-text);
  font-size: 16px;
  line-height: 22px;
}

.b-fc-alert-item .alert-url {
  font-size: 14px;
  line-height: 19px;
  color: #0584fe;
  margin-top: 10px;
  word-break: break-word;
}

.b-fc-alert-item .alert-action {
  background-color: #c848ff;
  color: #e8e8e8;
  font-size: 14px;
  line-height: 19px;
  align-self: flex-end;
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: 10px;
  padding: 0 15px;
}

.b-fc-alert-item .alert-close {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.b-fc-alert-container {
  position: fixed;
  z-index: 999999;
  display: flex;
  top: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.b-fc-modal-container {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000bf;
}

.b-fc-modal-wrap {
  background-color: var(--color-background-1);
  border-radius: 10px;
  border: 1px solid var(--color-stroke);
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  width: 530px;
}

.b-fc-modal-wrap .modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: var(--color-primary-text);
}

.b-fc-modal-wrap .modal-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-placeholder);
  margin-top: 25px;
}

.b-fc-modal-wrap .modal-actions {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-top: 25px;
}

.b-fc-modal-wrap .modal-actions .btn-cancel {
  cursor: pointer;
  width: 84px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-placeholder);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.b-fc-modal-wrap .modal-actions .btn-cast {
  cursor: pointer;
  width: 84px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-radius: 10px;
  background-color: var(--color-accent);
  margin-left: 10px;
}
